


/*reset */

body {
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

.mainWidth {
	width: 100%;
}

.Width {
	width: 960px;
}

.center {
	margin: 0 auto;
}

.background {
	background-color: #15D7ED;
}

.colorWhite {
	color:white;
}

.clearFix {
	clear: both;
}

.pullFloat {
	float: left;
}

.pullRight {
	float: right;
}

.bold {
	font-weight: bold;
}

.upper {
	text-transform: uppercase;
}

.lineHeight {
	height: 20px;
}

/* Main */


.header h1 {
	padding: 30px 0px 0px 10px;
	font-size: 40px;
}

.header h2 {
	padding: 0px 0px 20px 10px;

	font-size: 40px;
}


.no h2 {
	color:#15D7ED;
}

.no p:first-child {
	font-size: 20px;
	padding-top: 20px;
}

.no p:last-child {
	font-size: 10px;
}

.menu {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}

.menu ul li{
	border: 1px solid lightgrey;
	padding:15px 0px;
	float: left;

}

.menu a {
	margin: 0 20px;
	text-decoration: none;
	color: darkblue;
}

.slider {
	background-image: url(images/page-1_slide1.jpg);
	position: center center;
	height:600px;
	background-color: white;
}

.slider .col-md-4{
	height: 200px;
	margin-top: 360px;
}

.slider h1 {
	font-size: 50px;
	color: white;
	padding: 30px 0px 10px 20px;
}

.slider p {
	padding-left: 20px;
	color: white;
	font-size: 13px;
	line-height: 25px;
}

.content img{
	width: 100%;
	position: relative;
}


.content .hover {
	width: 290px;
	height: 110px;
	background-color: #1C0A2B;
	position: absolute;
	bottom: 0px;
	opacity: 0.5;
}

.content .text {
	width: 290px;
	height: 110px;
	position: absolute;
	bottom: 0px;
}

.content .text h1 {
	font-size: 20px;
	color: white;
	padding: 20px 0px 10px 20px;
	
}

.content .text p {
	padding-left: 20px;
	color: white;
	font-size: 13px;
	line-height: 20px;
	
}

.texts {
	background-color: #F0F1FC;
}

.texts h1{
	color: #15D7ED;
	font-size: 40px;
	margin: 11px 0;
}

.texts span{
	font-weight: bold;
}

.texts p{
	font-size: 13px;
	line-height: 20px;
	padding-bottom: 10px;
	text-align: justify;
}


.ourServices h1{
	font-size: 40px;
	color: #1C0A2B;
	margin-bottom: 20px;
}

.ourServices h1 span {
	font-weight: bold;
}

.ourServices .left {
	background-color: #1C0A2B;

}

.ourServices .left2 {
	background-color: #15D7ED;
}

.ourServices .left p{
	padding: 19px 15px;
	color: white;
	font-weight: bold;
}


.saveTime {
	background-image: url(images/parallax1.jpg);
	width: 100%;
}

.saveTime .col-md-12 {
	text-align: center;
}

.saveTime h1 {
	font-size: 80px;
	color: white;

}

.saveTime .bold h1 {
	margin-top: 60px;
}


.saveTime p{
	font-size: 16px;
	color:white;
	margin: 10px 0;
}

.saveTime .button {
	width: 236px;
	padding-top: 20px;
	padding-bottom: 60px;

}

.saveTime button {
	padding: 30px;
	background-color: #15D7ED;
	border: transparent;
	color: white;
	font-size: 30px;
	font-weight: bold;
}


.sponsors {
	margin-top: 10px;
}


.sponsors h1{
	font-size: 40px;
	color: #1C0A2B;
	font-weight: bold;	
	display: inline;
}

.sponsors span{
	font-size: 40px;
	color: #1C0A2B;
	
}

.sponsors img {
	width: 100%;
}


.footer {

}

.footer p{
	font-size: 13px;
}

.footer .finish {
	margin-bottom: 20px;
}

.footer p:last-child {
	float:right;
}

.footer a {
	text-decoration: none;
	color:#1C0A2B;
	transition: all 0.4s ease;
}

.footer a:hover {
	color:#15D7ED;
}
